header {
  width: 100%;
  padding: 10px;
  background: #c52f24;
  color: #fff;
  margin: 0px;
}

footer {
  width: 100%;
  padding: 10px;
  background: #c52f24;
  color: #fff;
  margin: 0px;
}

.partial {
  border: 1px solid red;
  padding: 15px;
}

table th {
  background-color: #FF0000;
  padding: 10px 20px;
}

table td {
  background-color: #EEFFFF;
  padding: 10px 20px;
}

.notice {
  background-color: #ccf;
  padding: 5px;
}
